<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="body">
  <div id="container">
    <img src="assets/hq-logo.svg">

    <ion-item class="inputs">
      <ion-label class="labels"><ion-icon id="person" name="person"></ion-icon></ion-label>
      <ion-input id="user" placeholder="User"></ion-input>
    </ion-item>

    <ion-item class="inputs">
      <ion-label class="labels"><ion-icon id="lock" name="lock"></ion-icon></ion-label>
      <ion-input id="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button id="sing-in">SING IN</ion-button>
    <ion-button id="sing-up">SING UP</ion-button>
    <p id="page">Terms and conditions</p>

    <span id="line"></span>
  </div>

</ion-content>